<div class="recipe-container">
  <div class="recipe-wrapper">
    <div class="recipe-title">
      <a routerLink="/posts/{{recipe._id}}" class="normal">
        <h2>{{recipe.title}}</h2>
      </a>
    </div>

    <div class="columns">
      <div class="recipe-details">
        <p>Date: <time>{{recipe.createdAt | date:'short'}}</time></p>
        <p>Likes: <span>{{recipe.likes}}</span></p>

        <div class="author-info">
          <p>Author name: <span>{{recipe._id}}</span></p>
        </div>

        <div class="ingredients">
          <p><strong>Ingredients:</strong></p>
          <p>{{recipe.ingredients}}</p>
        </div>

        <div class="instructions">
          <p><strong>Instructions:</strong></p>
          <p>{{recipe.instructions}}</p>
        </div>
      </div>

      <div class="recipe-image" *ngIf="recipe.imageUrl">
        <img [src]="recipe.imageUrl" alt="{{recipe.title}}" />
      </div>


      @if (isLoggedIn && recipe._id !== currentUserId) {

      <button (click)="onLike()" >Like {{recipe.likes}}</button>

      }
    </div>
  </div>
</div>