<div class="register-container">
  <div class="register-box">
    <h2>Sign up</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <label for="name">Your Name</label>
      <input [class.input-error]="isUserNameValid" type="text" name="name" id="name" placeholder="Johny"
        formControlName="name" />

      @if (isEmailValid) {
      <p class="error">
        {{ emailErrorMessage }}
      </p>
      }

      <label for="email">Your Email</label>
      <input [class.input-error]="isEmailValid" type="email" name="email" id="email" placeholder="john.doe@gmail.com"
        formControlName="email" />

      @if (isEmailValid) {
      <p class="error">
        {{ emailErrorMessage }}
      </p>
      }
      <div formGroupName="passwords">
        <label for="password">Password</label>
        <input [class.input-error]="isPasswordsValid" type="password" name="password" id="password" placeholder="******"
          formControlName="password" /> 

        @if (isPasswordsValid) {
        <p class="error">
          {{ passwordErrorMessage }}
        </p>
        }

        <label for="password2">Repeat your password</label>
        <input [class.input-error]="isPasswordsValid" type="password" name="rePassword" id="rePassword"
          placeholder="******" formControlName="rePassword" />

        @if (isPasswordsValid) {
        <p class="error">
          {{ rePasswordErrorMessage }}
        </p>
        }
      </div>
      <button type="submit" [disabled]="registerForm.invalid">Create Account</button>

    </form>
    <p class="already-member">I am already member. <a href="/login">Login here</a></p>
  </div>
</div>




